@font-face {
  font-family: GmarketSansMedium;
  src: url('./styles/fonts/GmarketSansMedium.woff');
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('./styles/fonts/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}